body{
  text-align: center;
  margin:0;
}
.top-container{
  background-color: #FAF7F0;
  position: relative;
  padding-top: 100px;
}

.middle-container{

}
.profile{
  background-color: #CDFCF6;
}
.skills{
  background-color: #BCCEF8;
}
.bio{
  font-size: 20px;
}
.contact-me{
  background-color: #CDFCF6;
}
.profiles-img{
  border-radius: 50%;
}
.skills-img{
  border-radius: 50%;
}
.skill-row-img{
  border-radius: 50%;
}
.bottom-container{
}

.pro{
  text-decoration: underline;
}
h1{
  color: #293462;
  width: 40%;
  margin: auto;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

p{
  color: #F24C4C;
}

.top-cloud{
  position: absolute;
  right:100px;
  top: 100px;
}

.bottom-cloud{
  position:absolute;
  left:300px;
}

.mountain{
}
