body{
  text-align: center;
  margin:0;
}
.top-container{
  background-color: #FAF7F0;
  position: relative;
  padding-top: 100px;
}

.middle-container{

}
.profile{
  background-color: #CDFCF6;
}
.skills{

}
.bio{
  font-size: 20px;
}
.contact-me{
  background-color: #CDFCF6;
}
.profiles-img{
  border-radius: 50%;
}
.skill-row{
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.code-img{
  width: 25%;
  float: left;
  border-radius: 50%;
  margin-right:30px;
}
.chilli-img{
  width: 25%;
  float: right;
  border-radius: 50%;
  margin-left: 60px;
}
.bottom-container{
}

.pro{
  text-decoration: underline;
}
h1{
  color: #66BFBF;
  width: 100px%;
  margin: 50px auto 0 auto;
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  line-height: 2;
}
h2{
  color: #66BFBF;
  font-weight: normal;
}

h3{
  color: #11999E;
}

a{
  color: #11999E;
}
.challenge{
  font-size: 2.5rem;
}
p{
  color: #F24C4C;
}

.top-cloud{
  position: absolute;
  right:100px;
  top: 100px;
}

.bottom-cloud{
  position:absolute;
  left:300px;
}

.mountain{
}
